.salevalue {
    .svContainer {
        overflow-x: scroll;

        .descContainer {
            width: 100%;

            .desc {
                border-top: 1px solid var(--borderColor);
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                text-align: center;
                font-weight: 500;

                .left,
                .right {
                    line-height: 1.4;
                    padding: 1.5rem 1rem;
                }

                .left {
                    border-right: 1px solid var(--borderColor);
                }

                .right {
                    .icon {
                        color: rgb(244 63 94);
                    }
                }

                .title {
                    font-size: .875rem;
                    color: var(--titleTxtColor);
                }

                .price {
                    font-size: 1.5rem;
                    color: var(--primaryColor);
                }

                .icon {
                    color: rgb(34 197 94);
                    font-size: .875rem;
                    font-weight: 600;
                    display: inline-flex;
                    align-items: center;

                    svg {
                        font-size: 1.25rem;
                    }

                    span {
                        margin-left: -.2rem;
                    }
                }
            }
        }
    }
}