.visitor {
    height: 100%;
    position: relative;
    // .visitorContainer {
    //     min-height: 100vh;
    // }

    .apexcharts-bar-series.apexcharts-plot-series .apexcharts-series path {
        clip-path: inset(0% 0% 0% -10% round 10px);
    }

    .apexcharts-xaxistooltip-bottom {
        display: none;
    }

    .visitorContainer {
        height: 100%;

        #chart {
            height: 100%;
        }
    }
}