.visitor {
    grid-column: span 3 /span 3;


    // .visitorContainer {
    //     min-height: 100vh;
    // }

}

.apexcharts-xaxistooltip-bottom {
    display: none;
}

@media (max-width:1400px) {
    .visitor {
        grid-column: span 6 /span 6;
    }
}