.ecommerceitem {
    color: #1e293b;
    background-color: #FFFFFF;
    border: 1px solid rgb(226 232 240);
    padding: 1rem 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.6;
        width: 3.434rem;
        height: 3.434rem;
        background: rgb(226, 232, 240);
        border-radius: .25rem;
        padding: .75rem;
    }

    .right {
        text-align: center;

        .title {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.6;
            color: #475569;
        }

        h1 {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.6;
            color: #1e293b;
        }

        .desc {
            font-size: .8rem;
            color: #475569;
            line-height: 1.6;
        }
    }
}