.ecommerceitem {
    color: var(--primaryColor);
    background-color: var(--rePrimaryColor);
    border: 1px solid var(--borderColor);
    padding: 1rem 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.6;
        width: 3.434rem;
        height: 3.434rem;
        background-color: var(--borderColor);
        border-radius: .25rem;
        padding: .75rem;
    }

    .right {
        text-align: center;

        .title {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.6;
            color: var(--textColor);
            text-transform: capitalize;
        }

        h1 {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.6;
            color: var(--primaryColor);
            text-transform: capitalize;

        }

        .desc {
            font-size: .8rem;
            color: var(--textColor);
            line-height: 1.6;
            text-transform: capitalize;


            .badge {
                color: rgb(34, 197, 94);
            }
        }
    }
}