.comingproduct {
    grid-column: span 6 /span 6;

    .cpContainer {
        padding: 0 1.5rem;
        display: grid;
        place-items: center;
        height: 85%;
    }
}

@media (min-width:1100px) {
    .comingproduct {
        grid-column: span 3 /span 3;
    }
}