.listtable {
    overflow-y: hidden;
    overflow-x: scroll;

    .table {
        min-width: 100%;
        text-align: center;
        border-collapse: collapse;
        color: #475569;

        th,
        td {
            border: 1px solid #e2e8f0;
        }

        thead {
            background: #F8FAFC;

            .table_head {
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 600;
                padding: .75rem 1rem;
            }
        }

        .table_row {
            width: 100%;
            font-size: .85rem;

            .table_Cell {
                font-weight: 500;
                padding: 1rem;

                .cellWrapper {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 0 1rem;

                    .imgBox {
                        width: 35px;
                        height: 35px;
                        background: #F1F5F9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 3px;

                        img {
                            width: 25px;
                            height: 25px;
                            object-fit: contain;
                            border-radius: 6px;
                        }
                    }

                    .text {
                        text-align: left;

                        .title {
                            color: #1e293b;
                            font-weight: 600;
                        }

                        .desc {
                            color: #94a3b8;
                            font-size: .75rem;
                            font-weight: 400;
                        }
                    }
                }

                span {
                    color: #64748b;
                    font-size: .75rem;
                    line-height: 1.5;
                }

                p {
                    color: #1e293b;
                    line-height: 1.5;
                    font-size: .85rem;
                }

                .price {
                    font-weight: 600;
                }
            }
        }
    }
}