.table {
    .tableHead {
        .tableRow {
            background: #F8FAFC;
            padding: 1px 0;
            position: relative;
        }
    }

    .tableCell {
        .cellWrapper {
            display: flex;
            align-items: center;
            gap: 1rem;

            .image {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}