%grid-base {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.crypto {
    .dashboard {
        .itemBox {
            grid-column: span 12/span 12;
        }
    }

    .center {
        @extend %grid-base;

        .products {
            grid-column: span 12/span 12;
        }

        .candleChart {
            grid-column: span 12/span 12;

            .topbar {
                display: flex;
                gap: 1rem;
                flex-direction: column;
            }
        }
    }

    .bottom {
        @extend %grid-base;

        .products {
            grid-column: span 12/span 12;
        }

        .lists {
            grid-column: span 12/span 12;
        }
    }

    // .orderDetail {
    //     .topbar {
    //         flex-direction: column;
    //         gap: 1rem;
    //     }
    // }

}

@media (min-width:768px) {
    .crypto {
        .dashboard {
            .itemBox {
                grid-column: span 6/span 6;
            }
        }
    }
}

@media (min-width:992px) {
    .crypto {
        .center {
            .products {
                grid-column: span 4/span 4;
            }

            .candleChart {
                grid-column: span 8/span 8;

                .topbar {
                    flex-direction: row;
                }
            }
        }

        .bottom {
            .products {
                grid-column: span 4/span 4;
            }

            .lists {
                grid-column: span 8 /span 8;
            }
        }
    }
}

@media (min-width:1200px) {
    .crypto {

        .dashboard {
            .itemBox {
                grid-column: span 3/span 3;
            }
        }

        .center {
            .products {
                grid-column: span 3/span 3;
            }

            .candleChart {
                grid-column: span 9/span 9;
            }
        }

    }
}