.datevalue {
    display: flex;

    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        font-size: .75rem;
        font-weight: 500;
        line-height: 1.5;
        color: #5a66f1;
        background-color: rgba(90, 102, 241, .1);
        padding: .5rem .75rem;
        border-right: 1px solid var(--borderColor);
        transition: all .25s linear;
        cursor: pointer;

        &:hover {
            background-color: #5a66f1;
            color: #fff;
        }

        &.active {
            background-color: #5a66f1;
            color: #fff;

            &:hover {
                background-color: #0056b3;
            }
        }

        &:first-child {
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        &:last-child {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
    }
}