.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 5px;
    }

    .left {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}