.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .left {
        display: flex;
        align-items: center;
        gap: .5rem;

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 5px;
        }

        .text {
            h4 {
                color: var(--primaryColor);
                font-size: .9rem;
                font-weight: 500;
                line-height: 1.6;
            }

            p {
                color: var(--titleTxtColor);
                font-size: .8rem;
                line-height: 1.6;
            }
        }
    }

    .right {
        color: var(--primaryColor);
    }
}