.ecommerce {
    background-color: #F2F6F9;
    transition: all .150s cubic-bezier(0.4, 0, 0.2, 1);

    &-Container {
        margin-left: 15rem;
        margin-top: 70px;
        transition: all .150s cubic-bezier(0.4, 0, 0.2, 1);


        .dashboard {
            margin-bottom: 1rem;

            .dashboardContainer {
                display: grid;
                grid-template-columns: repeat(12, minmax(0, 1fr));
                align-items: center;
                gap: 1rem;

                .box {
                    grid-column: span 6/ span 6;
                    height: 100%;
                }

                .box.down {
                    .item {
                        .left {
                            .icon {
                                background-color: #FDF7E6;
                            }
                        }

                        .badge {
                            background-color: #FDF7E6;
                        }
                    }

                }
            }
        }

        .center {
            @extend %grid-base;

            .comingproduct {
                order: 1;
            }

            .bottom {
                @extend %grid-base;
            }

            .orderDetail {
                .odContainer {
                    padding: 1rem;
                }
            }
        }
    }
}

.main {
    .main-container {
        margin-left: 15rem;
    }
}

%grid-base {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.app {
    &.active {
        .main {
            .main-container {
                margin-left: 5rem !important;
            }
        }
    }
}

@media (min-width:1100px) {
    .ecommerce {

        &-Container {

            .dashboard {
                .dashboardContainer {
                    .box {
                        grid-column: span 4/ span 4;
                    }
                }
            }

            .center {
                .comingproduct {
                    order: 0;
                }
            }
        }
    }
}