// @import "../../../styles/variables.scss";

.topbar {
    border-bottom: 1px solid var(--borderColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;

    &_left {
        .title {
            font-size: 1rem;
            font-weight: 600;
            color: var(--primaryColor);
            text-transform: capitalize;
        }
    }

    svg {
        fill: var(--primaryColor);
        font-size: 1.25rem;
    }
}