%grid-base {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.home {
    background-color: #F2F6F9;
    transition: all .150s cubic-bezier(0.4, 0, 0.2, 1);

    .dashboard {
        .itemBox {
            grid-column: span 12/span 12;
        }
    }

    .center {
        @extend %grid-base;

        .salechart {
            grid-column: span 12/span 12;
        }

        .customers {
            width: 100%;
            grid-column: span 12/span 12;
        }

        .salevalue {
            grid-column: span 12/span 12;
        }
    }

    .bottom {
        @extend %grid-base;

        .products {
            grid-column: span 12/span 12;
        }

        .visitor {
            grid-column: span 12/span 12;
            position: relative;

            .apexcharts-bar-series.apexcharts-plot-series .apexcharts-series path {
                clip-path: inset(0% 0% 0% -10% round 10px);
            }

            .apexcharts-xaxistooltip-bottom {
                display: none;
            }

            .apexcharts-series {
                path {
                    padding: 10rem;
                }
            }

            .visitorContainer {
                #chart {
                    height: 100%;
                }
            }
        }

        .lists {
            grid-column: span 12 /span 12;
        }
    }

    .orderDetail {
        .odContainer {
            padding: 1rem;
        }
    }
}


@media (min-width:768px) {
    .home {
        .dashboard {
            .itemBox {
                grid-column: span 6/span 6;
            }
        }

        .center {
            .customers {
                grid-column: span 6/span 6;
            }

            .salevalue {
                grid-column: span 6/span 6;
            }
        }

        .bottom {
            .products {
                grid-column: span 6/span 6;
            }

            .visitor {
                grid-column: span 6/span 6;
            }

            .lists {
                grid-column: span 12 /span 12;
            }
        }
    }
}

@media (min-width:992px) {
    .home {
        .center {
            .salechart {
                grid-column: span 12/span 12;
            }

            .customers {
                grid-column: span 6/span 6;
            }

            .salevalue {
                grid-column: span 6/span 6
            }
        }
    }
}

@media (min-width:1250px) {
    .home {
        .dashboard {
            .itemBox {
                grid-column: span 3/span 3;
            }
        }

        .center {
            .salechart {
                grid-column: span 6/span 6;
            }

            .customers {
                grid-column: span 3/span 3;
            }

            .salevalue {
                grid-column: span 3/span 3;
            }
        }

        .bottom {
            .products {
                grid-column: span 3 /span 3;
            }

            .visitor {
                grid-column: span 4 /span 4;
            }

            .lists {
                grid-column: span 5 /span 5;
            }
        }
    }
}