.home {
    background-color: #F2F6F9;

    .homeContainer {
        // flex: 6;
        margin-left: 15rem;
        margin-top: 70px;

        .center {
            @extend %grid-base;
        }

        .bottom {
            @extend %grid-base;
        }

        .orderDetail {
            margin: 0 2rem;

            .odContainer {
                padding: 1rem;
            }
        }
    }
}

%grid-base {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
}