.btnDrop {
    display: flex;
    align-items: center;
    gap: 5px;

    .title {
        font-size: .9rem;
        font-weight: 500;
        color: rgb(100, 116, 139);
        text-transform: capitalize;
    }

    svg {
        fill: rgb(100, 116, 139);
    }
}