.button {
    font-size: .9rem;
    text-transform: capitalize;
    padding: .5rem 1rem;
    border: 1px solid #ddd;
    color: #fff;
    background: #5A66F1;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .2s linear;
}