.itemBox {
    grid-column: span 3/ span 3;
}

.cryptoitem {
    color: #1e293b;
    background-color: #FFFFFF;
    border: 1px solid rgb(226 232 240);
    padding: 1rem 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 2;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .iconContain {
            width: 3rem;
            height: 3rem;
            background: rgb(226, 232, 240);
            border-radius: .25rem;
            padding: .5rem;
        }

        .title {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.6;
            color: #1e293b;
        }

        .desc {
            font-size: .85rem;
            color: #475569;
            line-height: 1.6;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .right {
        text-align: center;

        .amount {
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.6;
            color: #1e293b;
        }

        .badge {
            font-size: .85rem;
            color: #475569;
            line-height: 1.6;
        }
    }
}