.footer {
    text-align: center;
    background: #fff;
    margin-top: 2rem;
    padding: 1rem 0;

    .content {
        font-size: .85rem;
        font-weight: 400;
        color: #475569;
        line-height: 1.5;

        a {
            color: #5a66f1;
            font-weight: 500;
        }
    }
}