.footer {
    text-align: center;
    background-color: var(--bgColor);
    margin-top: 2rem;
    padding: 1rem 0;

    .content {
        font-size: .85rem;
        font-weight: 400;
        color: var(--color-1);
        line-height: 1.5;

        a {
            color: var(--blue-1);
            font-weight: 500;
        }
    }
}