.itemBox {
    grid-column: span 3/ span 3;
}

.cryptoitem {
    color: var(--primaryColor);
    background-color: var(--rePrimaryColor);
    border: 1px solid var(--borderColor);
    padding: 2rem 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 2;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .iconContain {
            width: 3rem;
            height: 3rem;
            background-color: var(--borderColor);
            border-radius: 4px;
            padding: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                font-size: 2rem;
                fill: #F89F36;
            }
        }

        .title {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.6;
            // color: var(--primaryColor);
        }

        .desc {
            font-size: .85rem;
            color: var(--textColor);
            line-height: 1.6;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .right {
        text-align: center;

        .amount {
            color: var(--primaryColor);
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.6;
        }

        .badge {
            font-size: .85rem;
            color: #22c55e;
            line-height: 1.6;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 3px;

            svg {
                font-size: 1rem;
            }

            &.down {
                color: #f43f5e;
            }
        }
    }
}