* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}