* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

section {
  background-color: #fff;
  border-radius: 5px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#root {
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}


@media (max-width:768px) {
  .app {
    .home {
      .sidebar {
        display: none;
      }
    }
  }

}