* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

section {
  background-color: #fff;
  border-radius: 5px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}