.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    .left {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--primaryColor);
        line-height: 2rem;
    }

    .right {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: .85rem;
        line-height: 1.5;
        color: var(--titleTxtColor);
        font-weight: 400;

        .homeBtn {
            color: rgb(90, 102, 241);
            font-weight: 600;
            cursor: pointer;
        }

        svg {
            font-size: 1rem;
            fill: #cbd5e1;
            font-weight: 400;
        }
    }
}

@media (max-width:768px) {
    .titlebar {
        padding: 0 .5rem;

        .left {
            font-size: .8rem;
            line-height: 1rem;
        }

        .right {
            font-size: .7rem;
            gap: 5px;

            svg {
                font-size: .8rem;
            }
        }
    }
}