.action_btn {
    display: flex;
    justify-content: center;
    gap: .5rem;

    .icon {
        width: 35px;
        height: 35px;
        color: rgb(88, 152, 231);
        background: rgba(88, 152, 231, .1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .2s linear;
        cursor: pointer;
        position: relative;

        &:hover {
            color: #fff;
            background: rgb(88, 141, 178);

            .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }

        svg {
            font-size: 1rem;
        }

        &:first-child {
            color: #5a66f1;
            background: rgba(90, 102, 241, .1);

            &:hover {
                color: #fff;
                background: rgb(90, 102, 241);
            }
        }

        &:last-child {
            color: rgb(244, 63, 94);
            background: rgba(244, 63, 94, .1);

            &:hover {
                color: #fff;
                background: rgb(244, 63, 94);
            }
        }

        .tooltiptext {
            font-size: .65rem;
            visibility: hidden;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 110%;
            left: -5%;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
}